version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: product-postgres
    environment:
      POSTGRES_DB: product
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - product_volume:/var/lib/postgresql/data

volumes:
  product_volume: